# Основы Anaconda

Anaconda – свободный дистрибутив со свободной лицензией, предназначенный для языков программирования Python и R. Проект имеет открытый исходный код для обработки данных большого объема, построения аналитических прогнозов и научных вычислений. Conda позволяет упростить управление и использование пакетов. Версии пакетов контролируются системой управления пакетами conda. По умолчанию, вместе с Anaconda устанавливается также:
 
* JupyterLab
* Jupyter Notebook
* Spyder
 
С их помощью можно создавать .ipynb файлы, называемые ноутбуками. Подробнее про них - ниже.
 
---
 
Встроенный в conda пакетный менеджер активируется в командной строке словом conda. В conda дополнительно встроено множество различных библиотек питона, для этого необходимо открыть командную строку (cmd.exe, можно найти поиском по системе) и запустить conda list.
 
---
 
Conda позволяет создавать виртуальные окружения для изолированной разработки программ. Делается это при помощи команды:
 
conda create --name myenv
 
Когда conda попросит вас продолжить, введите y
 
Чтобы создать среду с определенной версией Python:
 
conda create -n myenv python=3.6
 
Чтобы создать среду с определенным пакетом (например, scipy):
 
conda create -n myenv scipy

# Основы python

<img align=left src="https://cdn.fedoramagazine.org/wp-content/uploads/2015/11/Python_logo.png" style="height:160px;" />


Для углубленного понимания алгоритмов анализа данных и работы с признаками небходимо хорошо владеть языком Python ввиду баланса между быстрыми библиотеками и простотой кода. Далее познакомимся с основами библиотеки.

Для работы мы будем использовать Jupyter Notebook'и.

<img align=center src="https://1.bp.blogspot.com/-16utHnlB3Ao/V4tpG8NBX0I/AAAAAAAAA7M/vDQ1p40JpE8M34eCr-UdriSV04Dn8au7QCLcB/s1600/jupyter-logo.png" style="height:90px;" />

Название проекта Jupyter - это ссылка на три основных языка программирования, поддерживаемых Jupyter: Julia, Python и R, а также дань уважения записным книжкам Галилея, записывающим открытие лун Юпитера. Проект Jupyter разработал и поддержал интерактивные вычислительные продукты Jupyter Notebook, JupyterHub и JupyterLab, версию следующего поколения Jupyter Notebook. Философия проекта Jupyter заключается в поддержке интерактивной науки о данных.

После установки пакета anaconda в командной строке, которую можно открыть прямо в папке (в случае Windows в проводнике, в нужной папке файл -> Запустить Windows PowerShell, в случае linux/mac - зажать ctrl+alt+t или в проводнике нажать пкм в нужной папке -> открыть терминал) введем команду jupyter notebook 
 
В вашем браузере по умолчанию откроется новая вкладка, домашняя страница проекта Jupyter. В правом верхнем углу будет расположена кнопка new -> python 3, после чего должен быть доступен интерфейс для работы с jupyter файлом, где можно создавать ячейки с текстом или кодом.

### Основы Python

Сейчас существуют две часто используемые версии Питона — **Python 2** и **Python 3**. Эти версии довольно похожи, но есть отличия, из-за которых они **не являются совместимыми** - программы, написанные на одной версии языка, могут не работать в другой.  

В нашем курсе мы будем писать на **Python 3**. Точная версия не принципиальна, но она должна быть >= 3.6  

Если Вы пользуетесь каким-либо из дистрибутивов Linux, то Python скорее всего уже установлен.
Попробуйте в терминале следующие команды для запуска интерактивного режима работы:

`python` или `python3` или `python2`

Выход: `Ctrl+D`

Режим работы, в котором выполнится код из файла main.py

`python main.py`

Помощь: **`help(X)`**, где `X` — то, по чему нужна помощь.  
Выход из помощи: `q`.

## Общая информация о языке

**Название** - **«Питон» или «Пайтон»** (в честь комедийных серий BBC «Летающий цирк Монти-Пайтона»)  
**Создатель** - **голландец Гвидо ван Россум (Guido van Rossum)** (в 1991 году)  

**Особенности**:  
- интерпретируемый
- объектно-ориентированный
- высокоуровневый язык
- встроенные высокоуровневые структуры данных
- динамическая типизация
- синтаксис прост в изучении
- поддержка модулей и пакетов (большинство библиотек
бесплатны)
- универсальный
- интеграция с другими языками (C (Cython), C++, Java (JPython))  

**Стиль оформления кода** - **PEP8** (если Вы хороший человек).  

*Самое главное из PEP8:*  
- отступ – 4 пробела
- длина строки < 80 символов
- переменные: var_recommended
- константы: CONST_RECOMMENDED

## Список материалов для самостоятельного изучения

Данный ноутбук не претендует на полный охват всех тем и нюансов языка, поэтому ниже для удобства предоставлены ссылки на внешние ресурсы, которые могут помочь лучше изучить язык:

* *Сайт языка Python* - https://www.python.org/


* *Базовый курс синтаксиса Python с практикой* - https://www.codecademy.com/learn/learn-python


* *Курс Python с нуля, можно выполнять задания в интерактивном режиме* - http://pythontutor.ru/


* *Очень много задач на практику из разных областей, сделано по типу соцсети* - https://codesignal.com


* *Новый онлайн-курс по Питону на Coursera от Mail.Ru Group* - https://www.coursera.org/learn/programming-in-python


* *Самоучитель Python* - https://pythonworld.ru/samouchitel-python


* *Статья про коварности Python* - https://habrahabr.ru/company/mailru/blog/337364/


* *Очень полезные трюки в Jupyter Notebook*: https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

# Введение

Давайте запустим первую программу на python! Для этого нужно нажать комбинацию клавиш shift + enter или на треугольничек в левой части строки.

In [ ]:
print('Hello world!')

Hello world!

То, что мы только что запустили называется ячейкой с кодом. Добавить такую ячейку можно в левой верхней части экрана + Сode

В ней записан программный код на языке python, который будет выполняться подряд, строчка за строчкой, пока не дойдет до конца (при учете, что в нем нет ошибок).

Помимо ячеек с кодом проект jupyter позволяет добавлять ячейки с текстом, в которых вы можете прокомментировать происходящее ниже. Эти ячейки поддерживают язык разметки markdown, который поможет вам в навигации по ноутбуку и сделает текст более читаемым, детальнее [тут](https://ru.wikipedia.org/wiki/Markdown)

В результате запуска ячейки мы получили блок вывода с текстом - Hello world!. Команда print() выводит на экран объект, который мы передаем в нее (в скобочках).

Перед тем, как мы начнем исследовать встроенные в питон функции вроде функции отображения на экран print() необходимо понять с чем мы будем работать - данные. Далее ознакомимся с типами данных, представленнх в языке.

## Типы данных

**Все типы данных** в Python относятся к одной из **2-х категорий**: **изменяемые (mutable)** и **неизменяемые (immutable)**.   

*Неизменяемые объекты*:  
* числовые данные (int, float), 
* bool,
* None,
* символьные строки (class 'str'), 
* кортежи (tuple).  

*Изменяемые объекты*:  
* списки (list), 
* множества (set), 
* словари (dict).  

Вновь определяемые пользователем типы (классы) могут быть определены как неизменяемые или изменяемые. Изменяемость объектов определённого типа является принципиально важной характеристикой, определяющей, может ли объект такого типа **выступать в качестве ключа для словарей (dict)** или нет.

## int
**Целочисленный тип переменной в питоне**

Чтобы задать переменную, не нужно указывать ее тип -- достаточно присвоить ей значение. При этом тип определится автоматически.

Давайте попробуем завести переменную, присвоить ей значение -- целое число, и вывести на экран ее значение и тип (type):

In [ ]:
x = 5

# Команда type выводит на экран тип переменной.
# Все, что находится после # является комментарием и не воспринимается языком как код

print(x, type(x))

5 <class 'int'>

Как видно, тип получившейся переменной -- int.

C int'овыми переменными можно производить стандартные матеатические операции -- сложение, вычитание, умножение, деление, возведение в степень, взятие остатка при делении на число.

Деление переменных типа int бывает двух типов -- целочисленное (с помощью символа //) и нецелочисленное (символ /). Результатом первого типа деления будет целое число, второго -- дробное.

In [ ]:
a = 4 + 5
b = 4 * 5
c = 5 // 4
d = 5 / 4
e = 5**4 # 5 в степени 4
f = 5%4 # остаток при делении 5 на 4

print(a, b, c, d, e, f)

9 20 1 1.25 625 1

Также язык питон удобен в работе с большими числами:

Давайте попробуем положить в переменную число 5000000000000000000000000001:

In [ ]:
x = 5 * 1000000000 * 1000000000 * 10**9 + 1
print(x, '|', type(x))

5000000000000000000000000001 | <class 'int'>

Как видите, все получилось: полученная переменная типа int и с ней можно работать как с обычными числами. Во многих других языках (например, С++) положить такое большое число в переменную бы не вышло -- возникло бы переполнение.

## float

**Тип переменной для хранения дробных чисел в питоне**:

In [ ]:
y = 12.345

print(y, '|', type(y))

12.345 | <class 'float'>

С этим типом также можно выполнять арифметические операции (даже целочисленное деление):

In [ ]:
a = 4.2 + 5.1
b = 4.2 * 5.1
c = 5.0 / 4.0
d = 5.25 // 4.25
e = 5.25 ** 4.0

print(a, b, c, d, e)

9.3 21.419999999999998 1.25 1.0 759.69140625

In [ ]:
# если знаков после запятой слишком много - можно просто округлить его до нужного количества (в этом случае 2)
round(b, 2)

21.42

Переменную типа int можно привести к типу float

In [ ]:
a = 5
print(a, type(a))
# тут происходит преобразование из целочисленной переменной в дробную
a = float(a)

print(a, type(a))

5 <class 'int'>
5.0 <class 'float'>

## bool

**Логический тип переменной**: 

переменная типа bool может принимать два значения: `True` и `False`:

In [ ]:
a = True
b = False

# появился еще один аргумент: '|'  <- туда можно поставить любой текст, в этом примере для удобства отображения
print(a, '|', type(a))

print(b, '|', type(b))

True | <class 'bool'>
False | <class 'bool'>

У типа bool существует связь с типом int -- переменная со значением True соответствует int'овой переменной со значением 1, а переменная со значением False -- int'овой переменной со значением 0.

Давайте в этом убедимся, попробовав сложить значения переменных a и b:

In [ ]:
print(a + b)
print(a + a)
print(b + b)

1
2
0

Ну и просто приведем a и b к типу int:

In [ ]:
print(int(a), int(b))

1 0

In [ ]:
print(True and False, '\n')

print(True or False, '\n')

print(not False, '\n')

False

True

True

In [ ]:
# в переменную a будет записан результат сравнения 2 и 3. т.е. False, потому что (2==3) неверно. < это оператор сравнения, в нашем случае вернет True
a = (2 == 3)
b = (4 < 5)

print(a, '|', type(a))
print(b, '|', type(b))

False | <class 'bool'>
True | <class 'bool'>

In [ ]:
# более сложные сравнения алгебры-логики, для определения порядка выполнения используйте скобки, как в обычной математике
a or (a and not b)

False

## If

**Условный оператор**

В коде часто приходится проверять выполнимость или невыполнимость каких-то условий. Синтаксис следующий

```
if <условие1 (булевское выражение)> :
    <код, который выполнится, если условие верно>
elif <условие2 (булевское выражение)>:
    <код, который выполнится, если условие1 было неверно, а условие2 верно>
else:
    <код, который выполнится, если условие1 и условие2 были неверны>
```

Обратите внимание, что код, который должен выполняться внутри каждого условия, записывается с отступом в 4 пробела от уровня if, elif и else: в питоне области видимости переменных обозначаются отступами.

*То есть, отступы позволяют понять, где начинается код, который должен выполняться при выполнении условия в if, и где заканчивается*

Рассмотрим пример: пусть в нашем коде есть переменная x. Пусть мы хотим вывести на экран сообщение "x отрицателен", если x<0, "x равен нулю", если x=0 и "x положителен", если x>0. Код будет следующий:

In [ ]:
x = 10

if x<0:
    print("x отрицателен")
elif x==0:
    print("x равен нулю")
else:
    print("x положителен")
    
# этот код уже не "внутри" else, потому что записан без отступа в 4 пробела. Поэтому он выполнится 
# в любом случае после отработки if-elif-else
print("Done")

x положителен
Done

Конечно, в `if` можно подставлять и более сложные булевские выражения:

In [ ]:
if (x>3 and x < 11) or x==5:
    print(x)
    # тоже выполнится при выполнения условия после if, так как этот код тоже записан с отступом в 4 пробела
    print("nice")

10
nice

In [ ]:
# if внутри if:
x = 3
y = 5
if x == 3:
    if y > 6:
        # отступ в 4 пробела от внутреннего if
        print("y greater than 6")
    else:
        print("y not grater than 6")
        
    # отступ в 4 пробела от внешнего if, поэтому код выполнится если x==3 и при любом значении y
    print("x is equal to 3")

y not grater than 6
x is equal to 3

In [ ]:
True and False

False

In [ ]:
True or False

True

## None

**ничего, null**

Специальный тип в питоне, который обозначает *ничего*

Его нельзя привести ни к одному другому типу языка. Проверить, является ли переменная param типом None, можно так:

```
if param is None
```

С первого взгляда может быть непонятно, зачем он нужен, но на самом деле это оченб удобный тип. Например, если вы где-то в коде создаете объект (базу данных, например), обращаясь к внешнему коду и хотите проверить, создалась ли ваша база данных, вы можете осуществить эту проверку, сравнив переменную базы данных с None. Примерно так:

```
database = MyDatabase(db_host, db_user, db_password, db_database)

if database is None:
```

In [ ]:
z = None
print(z, '|', type(z))

None | <class 'NoneType'>

In [ ]:
# Убедимся, что None нельзя привести к другому типу:
int(z)

TypeError: ignored

То, что мы сейчас получили - ошибка, подсвечивается красным, детальнее будет рассмотрено далее.

Проверка переменной на None:

In [ ]:
if z == None:
    z = 'I am None!'
z

'I am None!'

## str

**строка**

Тип переменной "строка". Нужен для хранения и выполнения операций с строками -- наборами символов. В питоне строку можно задавать как с помощью одинарных кавычек, так и с помощью двойных, разницы нет (главное, чтобы в начале и конце одной строки стояли одинаковые кавычки):

В *python2.7* есть отдельный тип **unicode**. В *python3.5 (и выше)* (который будем использовать мы) всё это включено в тип **str**.

In [ ]:
x = "abc"
y = 'xyz'
print(x, '|', type(x))
print(y, '|', type(y))

abc | <class 'str'>
xyz | <class 'str'>

Со строками тоже можно выполнять некоторые операции. Например, можно сложить две строки -- тогда вторая припишется в конец первой:

In [ ]:
a = 'Привет'
b = "Мир"
s = a + " " + b
print(s)

Привет Мир

Также у строк есть некоторое количество *методов*

Метод -- это название для функций, которые вызываются от объекта. Например, у нас есть объект a -- строка, и у нее можно вызвать метод `.upper()`:

```
a.upper()
```

Методы деляится на те, которые изменяют сам объект, который их вызывает, и на те, которые возвращают результат, но не изменяют сам объект. 

Вот пример методов `.upper()` и `.lower()`, которые возвращают копию строки (не изменяя саму строку), от которой был вызван метод, приведенную к верхнему и нижнему регистру соответственно:

P.S. При вызове метода какого-то класса (или функции какого-то модуля) можно написать его имя и через точку нажать **tab**:  

<имя\_объекта\_класса(модуля)>**.[tab]**  

Тогда всплывёт меню, в котором можно выбрать из всех существующих в этом классе методов (функций модуля).

In [ ]:
print(a.upper())
print(a.lower())

ПРИВЕТ
привет

Можно получить длину строки с помощью функции `len`:

In [ ]:
print(len(a))

6

Можно обращаться к отдельным элементам строки через индексы (индексация в питоне с 0):

In [ ]:
print(a)
print(a[0])
print(a[1])

Привет
П
р

Можно проверять наличие подстроки в строке:

In [ ]:
s = 'ya stroka'
if 'ya' in s:
    print("ya deistvitel\'no stroka")

ya deistvitel'no stroka

А вот изменять уже существующие строки нельзя:

In [ ]:
s = 'ya stroka'
s[0] = 'l'

TypeError: ignored

У строк наряду с методами `.upper()`, `.lower()` и остальными есть метод `.split()`, который часто бывает очень полезен. Этот метод делит строку на несколько по символу, который ему указываешь, и возвращает набор полученных строк (точнее, массив полученных строк -- о том, что такое массив, ниже)

Если символ не указывать, строка делится по пробелам:

In [ ]:
splitted_line = "Раз два три".split()
print(splitted_line)

['Раз', 'два', 'три']

In [ ]:
splitted_line = "Раз два три".split('дв')
print(splitted_line)

['Раз ', 'а три']

Только что мы получили наш текст в кавычках через запятую - это список, ддалее переходим к структурам данных и встроенными в них функциями.

# Структуры данных и встроенные функции

## list

**массив, список, лист**

Вот мы и добрались до типов языка python, которые представляют собой *контейнеры*, то есть, это типы данных, которые являют собой хранилища для других типов данных.

Один из таких типов -- `list` (массив, список, лист). Это контейнер, куда можно положить сколько угодно других переменных, значений, и эти переменные даже могут быть разных типов и даже так же могут быть контейнерами! То есть, в list можно положить list:

Чтобы задать list, надо в квадратные скобки `[]` положить нужные элементы. Пустые скобки задают пустой list. Пустой лист также можно задать, написав `list()`:

In [ ]:
a = list()
b = []

# убедимся, что два варианта создания пустого массива эквивалентны:
print(a == b)

True

In [ ]:
# можно хранить разные типы данных!
c = [2, 'a', [4, 'stroka', 6.56]]

Что можно делать с list:

Можно положить элемент в конец массива:

In [ ]:
c.append(4.67)
c

[2, 'a', [4, 'stroka', 6.56], 4.67]

можно удалить элемент с конца массива:

In [ ]:
c.pop()
c

[2, 'a', [4, 'stroka', 6.56]]

**Методы list, которые мы рассмотрим ниже, будут работать для всех iterable контейнеров**

(что значит iterabel, можно прочитать тут: http://pythonz.net/references/named/iterable/

кратко -- это структуры данных, поддерживающие поочередный проход по своим элементам)

По индексам можно получить доступ к элементам массива (индексация, как обычно, с 0):

In [ ]:
print(c[0])
print(c[2])
# да, индексы могут быть отрицательные: -i есть i-ый с конца элемент массива (в нумерации с 1)
print(c[-1])

2
[4, 'stroka', 6.56]
[4, 'stroka', 6.56]

Можно не только получать по 1 элементу массива, но и *слайс* -- элементы массива с индексами между i (включительно) и j (не включительно):

In [ ]:
# в d будет записан новый массив, в котором будут 1 и 2 элементы массива c
d = c[1:3]
print(d)

['a', [4, 'stroka', 6.56]]

А еще можно сделать операцию наоборот -- не по индексу получить элемент массива, а по элементу массива получить его индекс.

`L.index(element)` - возвращает индекс элемента `element` в списке `L`, если он там присутствует, `None` иначе (вот еще один пример использования None)

In [ ]:
c.index('a')

1

Можно проверять принадлежность элемента массиву:

In [ ]:
4 in c

False

In [ ]:
if 'a' in c:
    print("element \'a\' in c")

element 'a' in c

Можно еще сложнее: получить каждый k-й элемент массива c, начиная с элемента с индексом i (включительно) и заканчивая элементом с индексом j (не включительно):

In [ ]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9]
d = c[1:7:2]

# в си это выглядело бы как-то так:   for(int i = 1; i < 7; i += 2) {}
# в питоне это компактное название_массива[с какого считаем : по какой считаем : с каким шагом]

print(d)

[2, 4, 6]

In [ ]:
c[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

С помощью слайсов можно перевернуть массив, например:

In [ ]:
print(c)
# получим каждый минус первый элемент массива начиная с 0 индекса и заканчивая последним
d = c[::-1]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

Элементы массива также можно изменять, обращаясь к ним по индексу или слайсу:

In [ ]:
print(c)
c[0] = 100500
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[100500, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# вместо 2, 3 и 4 элементов массива запишем  число 80
c[2:5] = [80]
print(c)
# вместо 2, 3 и 4 элементов массива запишем  числа 80, 90
c[2:5] = [80, 90]
print(c)

[100500, 2, 80, 6, 7, 8, 9]
[100500, 2, 80, 90, 8, 9]

Также массивы можно складывать. Результатом сложения двух массивов будет новый массив, в котором сначала будут записаны элементы первого массива, затем -- второго:

In [ ]:
d = [9, 0]
c+d

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 0]

А вот вычитать нельзя:

In [ ]:
c-d

TypeError: ignored

С помощью `len()` можно получить размер листа (и вообще любого iterable объекта):

In [ ]:
len(c)

6

можно отсортировать элементы массива, вызвав метод .sort():

In [ ]:
# вызов метода sort изменяет сам объект c, а не возвращает копию:
c.sort()
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## tuple

**кортеж**

этот тип данных очень похож на list, имеет ту же структуру, но отличается тем, что он неизменяемый

это нужно, например, чтобы `tuple` мог выступать в качестве ключей словаря (о них ниже). list в качестве ключей словаря выступать не может.

Задать tuple можно круглыми скобками:

In [ ]:
t = 'a', 5, 12.345, (2, 'b')
t

('a', 5, 12.345, (2, 'b'))

Tuple нельзя изменять. Давайте в этом убедимся:

In [ ]:
t.append(5)

AttributeError: ignored

In [ ]:
t[0] = 9

TypeError: ignored

Но получать элементы по индексу и слайсам, конечно, можно (tuple же iterable):

In [ ]:
print(t[2])
print(t.index(5))
print(t[:2])

12.345
1
('a', 5)

Как и list, кортежи можно складывать и работает сложение так же, как в list 

(вообще, с кортежами можно делать все, что можно делать с list, если это не изменяет кортеж)

In [ ]:
m = (1, 2, 3)
# складывать
print(t + m)
# узнать размер 
print(len(t))
# проверить наличие элемента
print(5 in t)

('a', 5, 12.345, (2, 'b'), 1, 2, 3)
4
True

In [ ]:
a = [1, 2, 3]
b = list(a)
b[0] = 49
print(a)

[1, 2, 3]

## Циклы - for и while

iterable стректуры данных так называются, потому что по ним можно *итерироваться* -- последовательно получать значения последовательных элементов этой структуры данных. Итерироваться можно с помощью циклов `for` или `while`.

Синтаксис следующий:

```
for element in iterable:
    <code>
```

здесь каждую новую итерацию цикла в element будет записываться очередное значение из контейнера iterable и с ним можно будет работать внутри тела цикла (`code`). Когда код внутри тела цикла отработает, начнется новая итерация цикла -- в переменную element запишется следующее значение из iterable и опять будет выполняться code.

Код, который будет выполняться каждую итерацию цикла, записывается после двоеточия с отступом 4 пробела от строчки c `for`.

Посмотрим на примере:

In [ ]:
# создадим list элементов
models = ['decision tree', 'linear model', 'svm', 'ensemble']

# итерируемся по названиям модели: каждую итерацию цикла в переменную model будет
# записываться новое значение из models и оно будет использоваться для print(model)
for model in models:
    # тело цикла. Здесь с отступом в 4 пробела нужно описать код, который будет выполняться на каждой итерации цикла.
    print(model)

# этот код уже будет выполняться ПОСЛЕ цикла, потому что он записан без отступа в 4 пробела после for:
print("Done")
print(model)

decision tree
linear model
svm
ensemble
Done
ensemble

**P.S.** Зметим, что каждую итерацию цикла в переменную model **копируется** очередное значение из models. Это значит, что если вы внутри цикла измените переменную model, соответствующее значение в массиве models изменено **не будет**

Синтаксис `while`:

```
while <условие (булевское выражение)>:
    <code>
```

Здесь код, написанный вместо `code` будет выполняться каждую итерацию цикла, пока условие после `while` будет выполняться.

Посмотрим на примере: Напишем цикл, в котором будем выводить переменную x и увеличивать x на 1, пока x не станет больше 10:

In [ ]:
x = 1

while x <= 10:
    print(x)
    # более удобный способ записи x = x + 1
    x += 1

1
2
3
4
5
6
7
8
9
10

Иногда бывает нужно прервать выполнение цикла при выполнении какого-то условия

Например, мы хотим итерироваться по массиву строк, на каждой итерации выводить строку на экран и прервать цико (перестать выводить строки), если мы встретили строку stop.

Это делается с помощью ключевого слова `break`:

In [ ]:
mas = ['stroka1', 'stroka2', 'stroka3', 'stop', 'stroka4']

for s in mas:
    if s == 'stop':
        break
    print(s)

stroka1
stroka2
stroka3

Иногда же хочется не прервать выполнение всего цикла, а прервать выполнение именно одной итерации цикла и продолжить цикл со следующей итерации.

Например, мы так же, как в предыдущем примере, хотим итерироваться по массиву строк и выводить строку на каждой итерации на экран, но не хотим выводить строку на экран, если эта строка равна 'null'.

Это делается с помощью ключевого слова `continue`:

In [ ]:
mas = ['stroka1', 'null', 'stroka3', 'stop', 'null']

for s in mas:
    if s == 'null':
        continue
    print(s)

stroka1
stroka3
stop

## range

Для работы с циклами в питоне есть очень полезная функция `range()`. Допустим, вы хотите написать цикл, который бы отработал 100 раз. Можно сделать это следующим образом:

```
i = 0
while i < 100:
    i += 1
    <code>
```

но это неудобно: нужно завести вспомогательную переменную i, написать лишние 2 строчки кода (i=0 и i+=1). Так код терядет в понятности и читабельности. Гораздо проще записать этот цикл с помощью range.

`range()` принимает 3 аргумента: начало интервала begin, конец интервала end и шаг step, с которым будет двигаться по игтервалу, и возвращает iterable объект -- по сути, массив чисел начиная с begin включительно, заканчивая end не включительно, числа в массиве идут с шагом step.

Посмотрим на пример:

In [ ]:
r = range(1, 100, 10)
#приведем возвращаемый iterable к list и выведем на экран:
print(list(r))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

Теперь легко записать цикл:

In [ ]:
for i in range(1, 10, 1):
    print(i)
# for(int i = 1; i < 10; i += 1){cout << i;}

0
1
2
3
4
5
6
7
8
9

Если у range не указывать последний алгумент step, он по умолчанию будет 1.

А если указать всего один аргумент, то range выдаст iterable с началом в 0 и концом в этом аргументе:

In [ ]:
list(range(4, 8))

[4, 5, 6, 7]

In [ ]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

С помощью range нетрудно переписать цикл, который мы писали выше, где итерировались по названиям моделей, так, чтобы элементы массива models  можно было изменять внутри цикла:

In [ ]:
# создадим list элементов
models = ['decision tree', 'linear model', 'svm', 'ensemble']

# итерируемся по индексам массива models
for i in range(len(models)):
    # тут если вы поменяете models[i], то значение в models тоже изменится
    print(models[i])
    
# этот код уже будет выполняться ПОСЛЕ цикла, потому что он записан без отступа в 4 пробела после for:
print("Done")

decision tree
linear model
svm
ensemble
Done

In [ ]:
models

['decision tree', 'linear model', 'svm', 'ensemble']

# Несколько заданий на пройденный материал

*Подсказка!* проверяйте ваше решение по тому, что уже есть в блоках вывода ячеек

## Задача 1

Создайте переменную a = 10, возвести значение в 3 степень и найти остаток от деления на 3.

In [1]:
a=10
print(a**3 % 3)

1

## Задача 2

Найдите площадь круга с радиусом 1.23456.

(Считаем π = 3.14)

In [2]:
print(3.14*1.23456**2)

4.785794555904

## Задача 3

Найдите, истинно ли, что 2 в 10 степени больше 1000 при условии, что 4 в 7й степени меньше 8 в 5й.

In [3]:
print(2**10>1000 and 4**7<8**5)

True

## Задача 4

Мы принимаем целое число на ввод с клавиатуры (код предоставлен), вывести "цена выше рынка", если число выше 1200, "цена ниже рыночной", если число меньше 800 и "все ок" в остальных случаях.

In [6]:
price = int(input('Введите цену товара: '))
if price>1200:
    print('цена выше рынка')
elif price<800:
    print('цена ниже рыночной')
else:
    print('все ок')

Введите цену товара: 1000
все ок

## Задача 5

Распечатайте с 4 по 8 символ фразы "Привет мир!" приведенные к верхнему регистру.

In [10]:
print("Привет мир!".upper()[4:8])

ЕТ М

## Задача 6

Создайте переменную, которая хранит описание этой задачи как строку, разделите слова по пробелам и приведите к нижнему регистру.

In [12]:
s='создайте переменную, которая хранит описание этой задачи как строку, разделите слова по пробелам и приведите к нижнему регистру'
print(s.lower().split(' '))

['создайте', 'переменную,', 'которая', 'хранит', 'описание', 'этой', 'задачи', 'как', 'строку,', 'разделите', 'слова', 'по', 'пробелам', 'и', 'приведите', 'к', 'нижнему', 'регистру']

## Задание 7

Напишите код, который проверяет, является ли переменная x строкой, и если да, то если в строке больше одного слова (слово--последовательность подряд идущих символов без пробелов), то выводит на экран количество слов в этой строке и сами слова в алфавитном порядке.

In [36]:
x = 'z hello world'
if type(x) == str and len(x.split(' '))>1:
    s=sorted(x.split(' '))
    print(len(s),*s,sep='\n')

3
hello
world
z

## Задание 8

Напишите код, который все элементы массива x с **нечетными** индексами переставит в обратном порядке.

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [56]:
x=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
y=x[::-2]
j=0
for i in range(len(x)):
    if (i%2!=0):
        x[i]=y[j]
        j+=1
print(x)

[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

## Задание 9

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8.

*Подсказка*: переменную типа int можно привести к типу str:
```
x = 5
y = str(x)
```

In [59]:
for i in range(0,500):
    if (i%7==0) and ('8' in str(i)):
        print(i)

28
84
98
168
182
189
238
280
287
308
378
385
448
483

# Структуры данных

## enumerate, zip

Крайне полезные встроенные функции!

`zip()` принимает два и больше iterable аргумента и возвращает iterable из пар соответствующих элементов этих двух iterable:

In [ ]:
first = 'a b c d e f g'.split(' ')
second = '1 2 3 4 5 6 7'.split(' ')

list(zip(first, second, first))

[('a', '1', 'a'),
 ('b', '2', 'b'),
 ('c', '3', 'c'),
 ('d', '4', 'd'),
 ('e', '5', 'e'),
 ('f', '6', 'f'),
 ('g', '7', 'g')]

Что будет, если один из iterable короче, чем другой:

In [ ]:
# обрежется под наименьший:
first = 'a b c d e f g'.split(' ')
second = '1 2 3 4 5'.split(' ')

list(zip(first, second))

[('a', '1'), ('b', '2'), ('c', '3'), ('d', '4'), ('e', '5')]

Это опять же полезно для использования в циклах:

In [ ]:
models = ['decision tree', 'linear model', 'svm', 'ensemble']

# zip dвозвращает пару элементов, которые можно записать в 2 разные переменные в цикле for. 
# например, здесб мы записываем первый элемент пары в num, второй -- в model.
for num, model in zip(range(len(models)), models):
    print(str(num+1)+'\'s model is:', model)

1's model is: decision tree
2's model is: linear model
3's model is: svm
4's model is: ensemble

Однако в этом коде мы хотели просто пронумеровать элементы списка models, но нам для этого пришлось писать zip(range(...))

Именно для такого случая, когда надо пронумервать элементы какого-то iterable, существует функция `enumerate`:

`enumerate(iterable)` возвращает пары номер-элемент iterable:

In [ ]:
models = ['decision tree', 'linear model', 'svm', 'ensemble']

# zip dвозвращает пару элементов, которые можно записать в 2 разные переменные в цикле for. 
# например, здесб мы записываем первый элемент пары в num, второй -- в model.
for num, model in enumerate(models):
    # print(str(num+1)+'\'s model is:', model)
    
    print(f'number: {num} model: {model}')

number: 0 model: decision tree
number: 1 model: linear model
number: 2 model: svm
number: 3 model: ensemble

## set

**Множество**

Множество -- это массив, в котором элементы не могут повторяться (то есть, как и в математическом определении множества)

Внутри языка множество устроено совсем не так, как массив или кортеж, элементы множества хранятся не последовательно, поэтому к элементам множества нельзя обрашаться по индексу.

Пустое множество можно создать с помощью set():

In [ ]:
s = set()

print(s, '|', type(s))

set() | <class 'set'>

А можно привести список к множеству:

Обратите внимание, что элементы set'а выводятся в отсортированном порядке!

In [ ]:
s = set([5, 2, 3, 2])
s

{2, 3, 5}

Можно добавлять элементы в множество с помощью метода `.add()`:

In [ ]:
s.add(1)
s.add('a')
# None тоже можно добавить =)
s.add(None)
s.add('bullet')
print(s)

{1, 2, 3, 5, 'a', 'bullet', None}

Метод .difference() позволяет получить элементы, которые есть в одном сете, но нет в другом:

In [ ]:
s1 = set(range(0, 10))
s2 = set(range(5, 15))

print('s1: ', s1, '\ns2: ', s2)

s1:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
s2:  {5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
# элементы, которые есть в s1, но нет в s2
print(s1.difference(s2))
print()
# элементы, которые есть в s2, но нет в s1
print(s2.difference(s1))

{0, 1, 2, 3, 4}

{10, 11, 12, 13, 14}

In [ ]:
# пересечение множеств s1 и s2 можно записать двумя способами:
print(s1.intersection(s2))
print(s1 & s2)

{5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}

In [ ]:
# объединение множеств s1 и s2 тоже можно записать двумя способами:
print(s1.union(s2))
print(s1 | s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

Из сета можно удалить элемент по значению:

In [ ]:
s1.discard(0)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
l = [1, 2, 3] 
if 4 in l:
    # pass - ничего не делать, иначе получим ошибку, что нету кода
    pass

s = set(l)
if 4 in s:
    pass

## dict

**словарь, ассоциативный массив**

Словарь -- это структура данных, которая представляет отображение из одного типа данных в другой. Представляет собой набор пар ключ-значение, в качестве ключа могут выступать immutable типы данных (int, str, tuple, ...)

Массивы, которые мы до этого рассматривали, были отображением непрерывного отрезка [0, n] в другой тип данных. `dict` может быть гораздо удобнее, когда нужно использовать в качестве ключа другой тип данных (например, сопоставить именам людей (str) их даты рождения) или когда в качестве ключа хочется использовать int, но не все значения из промежутка [0, n] нужны. Например, если хочется сопоставить года рождения великих писателей их именам.

Пустой словарь можно создать либо с помощью `{}`, либо с `dict()`:

In [ ]:
d = {}
dd = dict()

print(d == dd, '|', type(d))

True | <class 'dict'>

Добавим значение value по ключу key в словарь:

In [ ]:
key = 'b'
value = 100

d[key] = value
d

{'b': 100}

Непустой словарь можно создать несколькими способами:

In [ ]:
d = {
    'зарплаты':{
        'Петя':100000,
        'Аня':100000,
    },
    'проекты':['']
}

d['проекты']

['']

In [ ]:
d = {
    'short': ['dict'],
    'long': 'dictionary'
}
d

{'long': 'dictionary', 'short': ['dict']}

In [ ]:
d = dict(short='dict', long='dictionary')
d

{'long': 'dictionary', 'short': 'dict'}

In [ ]:
d = dict([(1, 1), (2, 4)])
d

{1: 1, 2: 4}

Создать дефолтный (со значениями по умолчанию) словарь с ключами из списка, значениями None:

In [ ]:
d = dict.fromkeys(['a', 'b'])
d

{'a': None, 'b': None}

Создать дефолтный словарь с ключами из списка, всеми значениями по умолчанию 100:

In [ ]:
d = dict.fromkeys(['a', 'b'], 100)
d

{'a': 100, 'b': 100}

In [ ]:
100 in d

False

In [ ]:
d['c']

KeyError: ignored

In [ ]:
d.get('a')

100

In [ ]:
sqares = []
for i in range(10):
    # print(i**2)
    sqares.append(i**2)

sqares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[(i, elem) for i, elem in enumerate(range(10))]

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]

**dict comprehensions**

Еще один способ объявления словаря: создадим словарь, где каждому целому числу от 0 до 6 поставим в соответствие квадрат этого числа:

In [ ]:
d = {a: a ** 2 for a in range(7)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

Будьте осторожны, если ключа, по которому поступил запрос, нет в словаре, то выбросит исключение:

In [ ]:
d = {1: 100, 2: 200, 3: 300}
d['a']

KeyError: ignored

Поэтому безопаснее использовать **get(key)**. Тогда, если нужно, можно проверить на **None**:

In [ ]:
d.get(123)

In [ ]:
d.get('a') == None

True

Самое часто используемое - получение ключей, получение значений и получение всего вместе:

In [ ]:
# получить список ключей
print(d.keys(), '|', type(d.keys()))

# чтобы вывести ключи, нужно привести d.keys() к списку
print(list(d.keys()))

dict_keys([1, 2, 3]) | <class 'dict_keys'>
[1, 2, 3]

In [ ]:
# получить список значений
print(d.values(), '|', type(d.values()))

# то же самое -- чтобы вывести значения, нужно привести d.values() к списку
print(list(d.values()))

dict_values([100, 200, 300]) | <class 'dict_values'>
[100, 200, 300]

In [ ]:
# получить список пар ключ-значение
print(d.items(), '|', type(d.items()))

# то же самое -- чтобы вывести пары ключ-значения, нужно привести d.items() к списку
print(list(d.items()))

dict_items([(1, 100), (2, 200), (3, 300)]) | <class 'dict_items'>
[(1, 100), (2, 200), (3, 300)]

## Try - Except 

Исключения (exceptions) - тип данных в python, служит для отслеживания ошибок

In [ ]:
# Пример использования встроенных функнций Exception
try:
    # попробуем добавить что-либо в кортеж
    array = (2, 1)
    array.append(10)
except Exception as e:
    # воспользуемся встроенный
    print('Возникла ошибка, ее текст:', e)

Возникла ошибка, ее текст: 'tuple' object has no attribute 'append'

В python3 предусмотрена иерархия встроенных исключений, к примеру, ошибка деления на 0 (ZeroDivisionError)

In [ ]:
try:
    # попробуем разделить на 0 и отловить ошибку
    print(10 / 0)
except ZeroDivisionError as e:
    print('На ноль делить нельзя!')

На ноль делить нельзя!

## Несколько полезных встроенных функций, которые желательно использовать

### map

Применяет указанную функцию к каждому элементу указанной последовательности/последовательностей. 
Функция, которую следует применить к элементам последовательности или последовательностей, должна принимать количество элементов равное количеству последовательностей.

In [ ]:
list1 = [1, 2, 3, 4]
list2 = [4, 3, 2, 1]

def a_na_b(a, b):
    return a*b

list(map(a_na_b, list1, list2))

[4, 6, 6, 4]

In [ ]:
list(map(lambda a, b: a*b, list1, list2))

[4, 6, 6, 4]

### filtered

При помощи указанной функции фильтрует элементы переданного объекта.

filtered - это фильтрующая функция. Она принимает элемент фильтруемого объекта. Если функция вернёт False, данный элемент не попадёт в результат. Если передано None, считается что требуется применить тождественное отображение (lambda *args: args), таким образом все элементы, оцениваемые как False будут отфильтрованы.

In [ ]:
data = ['+79772790164', '+1863265487', '89772790164']

def search_for_rus_phones(number):
    if number[:2] == '+7' or number[:2] == '+8' or number[0] == '8':
        return number

filter_res = filter(search_for_rus_phones, data)

list(filter_res)

['+79772790164', '89772790164']

## функции

Функции в python - объект, который принимает аргументы, производит обработку данных, возвращает значение. Функция может принимать произвольное количество аргументов.

Функция определяется:

```
def <Название функции>(параметр1, параметр2, ...):
    --код--
    return параметр1 + параметр2
```

Можно определить и необязательные элементы:
```
# param3 - необязательный аргумент, значение по умолчанию - 2
def funсtion(param1, param2, param3 = 2):
    return param1+param2+param3
```

In [ ]:
def a_plus_b(a, b):
    return a+b, a

a_plus_b(b = 2, a = 3)

(5, 3)

Можно принять переменное количество позиционных аргументов, тогда перед именем ставим *

In [ ]:
def random_args_random_amm(a, *args):
    return args

# возвращает кортеж
random_args_random_amm(1, [2], 'три')

([2], 'три')

По аналогии можно принять переменное количество именованных аргументов, тогда перед именем ставим **

In [ ]:
def not_random_args_random_amm(**kwargs):
    return kwargs

# возвращает словарь
not_random_args_random_amm(hello='world')

{'hello': 'world'}

## Локальная и глобальная область видимости 

Когда мы создаем переменную в блоке кода, она будет разрешена при помощи ближайшей области видимости, или областей. Группирование всех этих областей известно как среда блоков кода.

In [ ]:
# глобальная переменная a
a = 0

def some_func(a):
    # логальная переменная а
    a = 1
    return a

a = some_func(a)

a

1

Python содержит оператор global, он объявляет переменную доступной для блока кода, следующим за оператором.

In [ ]:
# глобальная переменная a
a = 0

def some_func():
    # даем функции "увидеть" глобальную а
    global a
    a = 1

some_func()

a

1

In [ ]:
def some_func():
    a = 5
    def increase_a(): 
        nonlocal a
        a += 1
        return a
    return increase_a

some_func()()

6

## Анонимные функции, lambda

Анонимные функции могут содержать лишь одно выражение, но выполняются они быстрее. Обозначается lambda, ее не обязательно присваивать переменной (как с def).

In [ ]:
# возводим а в степень b
func = lambda a, b: a**b
func(2, 3)

8

In [ ]:
func = lambda *args: args[0]*args[1]
func(2, 3, 4)

6

### Постулаты ООП

#### Инкапсуляция

Инкапсуляция – скрытие реализации каких либо частей модуля или объекта от внешнего мира (от клиента). Это означает, что манипулируя модификаторами доступа, можно скрыть или открыть только определенные свойства, методы или классы для того, чтобы ненужные для класса-клиента данные не были доступны.

Инкапсуляция в Python работает лишь на уровне соглашения между программистами о том, какие атрибуты являются общедоступными, а какие — внутренними.

Одиночное подчеркивание в начале имени атрибута говорит о том, что переменная или метод не предназначен для использования вне методов класса, однако атрибут доступен по этому имени.

In [ ]:
class Test:
    def _secret(self):
        print('yeah')

obj = Test()
obj._secret()

yeah

Двойное подчеркивание в начале имени атрибута даёт большую защиту: атрибут становится недоступным по этому имени.

In [ ]:
class Test:
    def __secret(self):
        print('top secret')

obj = Test()
obj.__secret()

AttributeError: ignored

In [ ]:
obj._Test__secret()

top secret

#### Наследование

Наследование подразумевает то, что дочерний класс содержит все атрибуты родительского класса, при этом некоторые из них могут быть переопределены или добавлены в дочернем.

In [ ]:
class Human():  
    # Конструктор
    def __init__(self, name, age, sex):
        self.name = name 
        self.age = age 
        self.sex = sex 
        
    # Метод (method):
    def showInfo(self):
        print(f'Человек: {self.name}, возраст {self.age}, пол {self.sex}')

class SuperMan(Human):
    def __init__(self, name, age, sex, height, weight):
        # Вызывается конструктор родительского класса (Human)
        # чтобы прикрепить значение к атрибутам 'name', 'age', 'sex' родительского класса
        super().__init__(name, age, sex)

        # Доопределяем передаваемые в конструктор SuperMan переменные
        self.height = height
        self.weight = weight

    def showInfo(self):
        print(f'Cупермен| имя: {self.name}, возраст {self.age}, пол {self.sex}, вес {self.weight}, рост {self.height}')

In [ ]:
human_obj = Human('Петя', 25, 'муж.')
human_obj.showInfo()

Человек: Петя, возраст 25, пол муж.

In [ ]:
superman_obj = SuperMan('Кларк ', 34, 'муж.', 191, 107)
superman_obj.showInfo()

Cупермен| имя: Кларк , возраст 34, пол муж., вес 107, рост 191

#### Полиморфизм

Полиморфизм – это возможность обработки разных типов данных, т.е. принадлежащих к разным классам, с помощью "одно и той же" функции, или метода. На самом деле одинаковым является только имя метода, его исходный код зависит от класса. Кроме того, результаты работы одноименных методов могут существенно различаться. Поэтому в данном контексте под полиморфизмом понимается множество форм одного и того же слова – имени метода.

In [ ]:
superman_obj.showInfo()
human_obj.showInfo()

Cупермен| имя: Кларк , возраст 34, пол муж., вес 107, рост 191
Человек: Петя, возраст 25, пол муж.

## Объектно-ориентированное программирование (ООП)

ООП - парадигма программирования, основанная на концепциях объектов и классов.

*   Класс — тип, описывающий устройство объектов. 
*   Объект — экземпляр класса. Класс - основа, на которой определяются объекты.

В python всё является объектами (строки, списки, ...)

Но возможности ООП в python этим не ограничены. Мы можем написать свой тип данных (класс), определить в нём свои методы.

Это не является обязательным - мы можем пользоваться только встроенными объектами. Однако ООП полезно при долгосрочной разработке программы несколькими людьми, оно сильно упрощает понимание кода.


Стандартная конструкция 


```
class [название класса]() 
```


---

Зачем нам self?
Классам нужен способ, что ссылаться на самих себя т.е. способ сообщения между экземплярами. Слово self это способ описания любого объектаю.

In [ ]:
class sber():
    # конструктор класса
    # после того, как класс инициализирован - в него можно принимать агрументы
    # конструкция __init__ автоматически запустится, в hello запишется 'привет'
    def __init__(self, hey):
        self.hello = hey

    # определим функцию класса - распечатаем внутренний параметр hello
    def print_hello(self):
        print(self.hello) 

# Определим объект класса и передадим в него аргументы
class_obj = sber('привет')
# вызовем функцию класса
class_obj.print_hello()

привет

# Доп задачи по пройденному материалу

## Задание 10

1. Создайте список `a`, состоящий из каких-то элементов.
2. Создайте список `b` такого же размера, как `a`, состоящий из каких-то элементов.
3. Выведите **нумерованный список пар** из элементов списков `a` и `b`.

In [67]:
# Ваш код здесь
# варианты решения ниже
a = [0, 1, 2]
b = [('11' , 'x'), ('22' , 'y'), ('33' , 'z')]
list(zip(a,b))

[(0, ('11', 'x')), (1, ('22', 'y')), (2, ('33', 'z'))]

## Задание 11

Дан массив строк mas. Одной строкой создайте словарь, в котором по ключу строки будет записана пара (кортеж длины 2) (индекс строки в массиве mas, длина строки)

In [127]:
mas = ['hello', 'abc']
temp = list(zip([i for i in range(len(mas))], [len(mas[i]) for i in range(len(mas))]))
dict(zip(mas[::-1], temp[::-1]))

{'abc': (1, 3), 'hello': (0, 5)}

## Задание 12

Релизовать функцию, которая возвращает сумму всех позиционных и именованных аргументов.

In [137]:
def func(*args, **kwargs):
    s=0
    for arg in args:
        s+=arg
    for kwarg in kwargs.values():
        s+=kwarg
    return s

print(func(1, 2, 3, a=4, b=5))

15

## Задание 13

Реализовать функцию, которая сохраняет в 2 глобальные переменные:
* сумму всех позиционных аргументов - релизовать через  lambda;
* название всех именованных аргументов в виде списка.

In [161]:
summ = 0
names = []

def another_func(*args,**kwargs):
    global summ
    global names
    func = lambda *args: sum(args)  
    summ = func(*args)
    names = list(kwargs.keys())

another_func(1, 2, 3, a=4, b=5)

print(f'Cумма {summ}, названия {names}')

Cумма 6, названия ['a', 'b']

## Задание 14

Реализовать класс с 2 функциями:

*   Первая функция копирует функционал задачи №13, но сохраняет переменные в области видимости класса;
*   Вторая функция отображает на экран сумму и названия именованных аргументов.

In [169]:
class Solution:
    def __init__(self):
        self.summ=0
        self.names=[]
    
    def another_func(self,*args,**kwargs):
        func = lambda *args: sum(args)  
        self.summ = func(*args)
        self.names = list(kwargs.keys())
        
    def print_args_kwargs(self):    
        print(f'Cумма {self.summ}, названия {self.names}')
    
class_obj = Solution()
class_obj.another_func(1, 2, 3, a=4, b=5)
class_obj.print_args_kwargs()

Cумма 6, названия ['a', 'b']

# tixons.work@gmail.com